// 定义项目自定义颜色变量
$xtxColor: #27ba9b; // 主品牌色
$helpColor: #e26237; // 辅助色
$sucColor: #1dc779; // 成功色
$warnColor: #ffb302; // 警告色
$priceColor: #cf4444; // 价格色

// 侧边栏配色
$sidebar-bg: #f5f7fa;
$content-bg: #f5f7fa;

$menu-bg: #f5f7fa;
$menu-text: #606266;
$menu-active: #409eff;

$border: #ebeef5;
